.App {
  height: 100%;
  padding: 24px 48px;
  overflow-x: hidden;
}

.Main > section {
  margin: 64px;
}

.section-divider {
  border: none;
  height: 1.5px;
  background-color: var(--text);
  margin: 24px 0;
}

@media (max-width: 425px) {
  .App {
    height: 100%;
    padding: 8px 16px;
    overflow-x: hidden;
  }

  .Main > section {
    margin: 0 8px;
  }
}

@media (max-width: 768px) {
  .App {
    height: 100%;
    padding: 24px 32px;
    overflow-x: hidden;
  }

  .Main > section {
    margin: 0 16px;
  }
}
